<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/head :: headerFragment">
        <title id="pageTitle">Court Booking</title>
    </head>
    <body>
    <nav th:replace="fragments/navHeader :: navbar"></nav>

    <div class="container">
        <h2 class="title is-2"><span th:text=#{welcome}></span> <span th:text=#{application.name}></span> App</h2>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>