<html xmlns:th="http://www.thymeleaf.org">
   <head th:include="fragments/head :: headerFragment">
        <title id="pageTitle">Add Court</title>
    </head>
    <body>
     <nav th:replace="fragments/navHeader :: navbar"></nav>
    <div class="container">
            <form th:object="${court}" action="add.html" th:action="@{/courts/addSubmit}" method="post" class="form-horizontal">
                <fieldset>
                    <table class="table table-striped">
                        <tr>
                            <td><input type= "hidden" th:field="${court.id}"</td>
                        </tr>
                        <tr>
                            <th>Court Number</th>
                            <td><input type="text" th:field="${court.courtNumber}"/>
                                 <ul th:if="${#fields.hasErrors('courtNumber')}">
                                        <li class="error" th:each="err : ${#fields.errors('courtNumber')}" th:text="${err}">Court number is invalid</li>
                                 </ul><br/>
                            </td>
                        </tr>
                        <tr>
                            <th>Court Name</th>
                            <td><input type="text" th:field="${court.courtName}"/>
                                 <ul th:if="${#fields.hasErrors('courtName')}">
                                        <li class="error" th:each="err : ${#fields.errors('courtName')}" th:text="${err}">Court name is invalid</li>
                                 </ul><br/>
                            </td>
                        </tr>
                        <tr>
                         <th>Court Type</th>
                            <td>
                                <select name="courtType">
                                    <option th:each="type : ${types}" th:value="${type.codeValueSequence}" th:text="${type.englishDescription}"></option>
                                </select>

                            </td>
                        </tr>
                    </table>
                    <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit">Submit</button>
                    </div>
                </fieldset>
            </form>
        </div>
    
      <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>