<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/head :: headerFragment">
        <title id="pageTitle">Courts Available</title>
    </head>
    <body>
    <nav th:replace="fragments/navHeader :: navbar"></nav>

    <div class="container">
        <table class="table is-fullwidth is-bordered is-striped">
            <thead>
            <tr>
                <th>Court ID</th>
                <th>Court Number</th>
                <th>Court Name</th>
                <th>Court Type </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="court : ${courts}">
                <td th:text="${court.id}"></td>
                <td th:text="${court.courtNumber}"></td>
                <td th:text="${court.courtName}"></td>
                <td th:text="${court.courtTypeName}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>