<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/head :: headerFragment"><title id="pageTitle">List Court</title></head>
    <body>
    <nav th:replace="fragments/navHeader :: navbar"></nav>
    <div class="container">
        <!-- Header -->
        <div class="table-container">

            <a th:href="@{/courts/add}" th:text="Add" class="button"></a>
            <table class="table centered is-striped">
                <thead>
                <tr>
                    <th style="width: 150px;">id</th>
                    <th style="width: 150px;">Court Number</th>
                    <th style="width: 150px;">Court Name</th>
                    <th style="width: 150px;">Court Type</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="court : ${courts}">
                    <td th:text="${court.id}"></td>
                    <td th:text="${court.courtNumber}"></td>
                    <td th:text="${court.courtName}"></td>
                    <td th:text="${court.courtType}"></td>
                    <td><a th:href="@{/courts/edit(id=${court.id})}">Edit</a>&nbsp;<a
                            th:href="@{/courts/delete(id=${court.id})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>