<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head">
        <title id="pageTitle" th:text="${session.title}"></title>
    </head>
    <body>
    <nav th:replace="fragments/navHeader :: navbar"></nav>
    <div class="container has-text-centered">
        <h2 class="title is-2" th:text="#{about}"></h2>
        <table class="table centered">
            <tr>
                <th>Member Name</th>
                <th>Member #</th>
            </tr>
            <tr>
                <td>Fred Campos</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Amro Da'as</td>
                <td>2</td>
            </tr>
        </table>
    </div>
    </body>
    <footer th:replace="fragments/footer :: footer"></footer>
</html>