<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
    <nav th:fragment="navbar" class="navbar nav" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a th:href="@{/}" class="vert-align">
                <img src="/images/logo.svg" class="logo"></span>
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" id="burg"
               onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">

                <div class="navbar-item has-dropdown is-hoverable">
                    <a th:href="@{/members}" class=" navbar-link">Members</a>
                    <div class="navbar-dropdown">
                        <a th:href="@{/members/bookings}" class="navbar-item">Member Bookings</a>
                        <hr class="navbar-divider">
                        <a th:href="@{/members/export}" class="navbar-item">Export</a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a th:href="@{/courts/list}" class="navbar-link">Courts</a>
                    <div class="navbar-dropdown">
                        <a th:href="@{/courts/search}" class="navbar-item">Courts Available</a>
                        <hr class="navbar-divider">
                        <a th:href="@{/courts/export}" class="navbar-item">Export</a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a th:href="@{/courtBookings}" class="navbar-link">Court Bookings</a>
                    <div class="navbar-dropdown">
                        <a th:href="@{/courtBookings}" class="navbar-item">Bookings</a>
                        <hr class="navbar-divider">
                        <a th:href="@{/courtBooking/export}" class="navbar-item">Export</a>
                    </div>
                </div>
                <div class="navbar-end">
                    <a th:href="@{/about}" class="navbar-item">
                        About
                    </a>
                </div>
            </div>
        </div>
    </nav>
    </body>
</html>