<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/head :: headerFragment">
        <title id="pageTitle">Member Bookings</title>
    </head>
    <body>
    <nav th:replace="fragments/navHeader :: navbar"></nav>

    <div class="container">
        <table class="table is-fullwidth is-bordered is-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Court Number</th>
                <th>Booking Date</th>
                <th>Start Time</th>
                <th>Member</th>
                <th>Opponent</th>
                <th>Notes</th>
                <th>Date Booked</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="booking : ${bookings}">
                <td th:text="${booking.id}"></td>
                <td th:text="${booking.courtNumber}"></td>
                <td th:text="${booking.bookingDate}"></td>
                <td th:text="${booking.startTime}"></td>
                <td th:text="${booking.memberName}"></td>
                <td th:text="${booking.opponentName}"></td>
                <td th:text="${booking.notes}"></td>
                <td th:text="${booking.createdDate}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>