<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/head :: headerFragment">
        <title id="pageTitle">Member List</title>
    </head>
    <body>
    <nav th:replace="fragments/navHeader :: navbar"></nav>

    <div class="container">
        <div class="table-title">
            <h2 class="title is-2 has-text-centered">Member List</h2>
            <div>
                <a th:href="@{/members/add}" class="vert-align">
                    <span>Add New Member</span>
                    <span class="icon is-large"><i class="fas fa-3x fa-plus-square" title="Add"></i></span>
                </a>
            </div>
            <div class="vert-align">
                <span>Members: </span><span th:text="${#lists.size(members)}"></span>
            </div>
        </div>
        <table class="table is-fullwidth is-bordered is-striped">
            <thead>
            <tr>
                <th>Member ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.userId}"></td>
                <td th:text="${member.firstName}"></td>
                <td th:text="${member.lastName}"></td>
                <td th:text="${member.address}"></td>
                <td th:text="${member.status == 6} ? 'Active':'Inactive'"></td>
                <td>
                    <div class="flex-sp-btw">

                        <a th:href="@{/members/edit/{id}(id=${member.userId})}">
                            <span class="icon"><i class="fas fa-edit" title="Edit"></i></span>
                        </a>
                        <a th:href="@{/members/delete/{id}(id=${member.userId})}">
                            <span class="icon"><i class="fas fa-trash" title="Delete"></i></span>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>