<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/head :: headerFragment">
        <title id="pageTitle">Member</title>
    </head>
    <body>
    <nav th:replace="fragments/navHeader :: navbar"></nav>

    <div class="container">
        <div class="form-container">
            <form th:action="@{/members/submit}" method="post">

                <div class="field is-horizontal">
                    <div class="field-body">

                        <div class="field field-id">
                            <label for="userId" class="label">ID</label>
                            <div class="control">
                                <input type="text" readonly th:field="${member.userId}" class="input">
                            </div>
                        </div>

                        <div class="field">
                            <label for="firstName" class="label">First Name</label>
                            <div class="control has-icons-right">
                                <input class="input" th:errorclass="is-danger" type="text"
                                       th:field="${member.firstName}">
                            </div>
                            <p class="help is-danger" th:if="${#fields.hasErrors('${member.firstName}')}"
                               th:errors="${member.firstName}">
                            </p>
                        </div>

                        <div class="field">
                            <label for="lastName" class="label">Last Name</label>
                            <div class="control has-icons-right">
                                <input class="input" th:errorclass="is-danger" type="text"
                                       th:field="${member.lastName}">
                            </div>
                            <p class="help is-danger" th:if="${#fields.hasErrors('${member.lastName}')}"
                               th:errors="${member.lastName}"></p>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label for="address" class="label">Address</label>
                    <div class="control has-icons-right">
                        <input class="input" th:errorclass="is-danger" type="text"
                               th:field="${member.address}">
                    </div>
                    <p class="help is-danger" th:if="${#fields.hasErrors('${member.address}')}"
                       th:errors="${member.address}"></p>
                </div>

                <div class="field is-horizontal">
                    <div class="field-body">

                        <div class="field">
                            <label for="phoneCell" class="label">Phone Cell</label>
                            <div class="control has-icons-right">
                                <input class="input" th:errorclass="is-danger" type="text"
                                       th:field="${member.phoneCell}">
                            </div>
                            <p class="help is-danger" th:if="${#fields.hasErrors('${member.phoneCell}')}"
                               th:errors="${member.phoneCell}"></p>
                        </div>

                        <div class="field">
                            <label for="phoneHome" class="label">Phone Home</label>
                            <div class="control has-icons-right">
                                <input class="input" th:errorclass="is-danger" type="text"
                                       th:field="${member.phoneHome}">
                            </div>
                            <p class="help is-danger" th:if="${#fields.hasErrors('${member.phoneHome}')}"
                               th:errors="${member.phoneHome}"></p>
                        </div>

                        <div class="field">
                            <label for="phoneWork" class="label">Phone Work</label>
                            <div class="control has-icons-right">
                                <input class="input" th:errorclass="is-danger" type="text"
                                       th:field="${member.phoneWork}">
                            </div>
                            <p class="help is-danger" th:if="${#fields.hasErrors('${member.phoneWork}')}"
                               th:errors="${member.phoneWork}"></p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-body">

                        <div class="field">
                            <label class="label" for="status">Status</label>
                            <div class="control">
                                <div class="select">
                                    <select th:field="${member.status}">
                                        <option th:each="status :${statuses}"
                                                th:value="${status.codeValueSequence}"
                                                th:text="${status.englishDescription}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label for="membershipStartDate" class="label">Membership start date</label>
                            <div class="control has-icons-right">
                                <input class="input date" th:errorclass="is-danger" type="date"
                                       th:field="${member.membershipStartDate}">
                            </div>
                            <p class="help is-danger" th:if="${#fields.hasErrors('${member.membershipStartDate}')}"
                               th:errors="${member.membershipStartDate}"></p>
                        </div>
                        <div class="field">
                            <label for="membershipEndDate" class="label">Membership end date</label>
                            <div class="control has-icons-right">
                                <input class="input date" th:errorclass="is-danger" type="date"
                                       th:field="${member.membershipEndDate}">
                            </div>
                            <p class="help is-danger" th:if="${#fields.hasErrors('${member.membershipEndDate}')}"
                               th:errors="${member.membershipEndDate}"></p>
                        </div>

                    </div>
                </div>


                <!--                <div class="field">-->
                <!--                    <label class="label" for="reflection">Reflection-->
                <!--                    </label>-->
                <!--                    <div class="control">-->
                <!--          <textarea id="reflection" class="textarea" name="reflection" th:field="*{reflection}"-->
                <!--                    th:errorclass="is-danger"></textarea>-->
                <!--                    </div>-->
                <!--                    <p class="help is-danger" th:if="${#fields.hasErrors('reflection')}">Reflection must be less than-->
                <!--                        140-->
                <!--                        characters</p>-->
                <!--                </div>-->


                <button class="button is-primary">Submit</button>
            </form>
        </div>

    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>